<!DOCTYPE html>
<html ng-app>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : 'Guestbook' %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
<%= render partial: 'layouts/header' %>
<div class="content container">
  <%= render partial: 'layouts/messages', flash: flash %>
  <%= yield %>
  <%= render partial: 'layouts/footer' %>
</div>
</body>
</html>
